.taskItem {
  padding: 10px;

  background-color: #9d9898;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(0 0 0 / 50%);

  transition: background-color 0.2s;
}

.taskItem:hover {
  background-color: #c1bbbb;
}