.createTodoWrapper {
  display: flex;
  gap: 10px;
  padding: 30px 0 0 20px;

  @media (width < 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}

.todolists {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  align-items: flex-start;

  padding: 0 0 0 20px;

  @media (width < 768px) {
    flex-direction: column;
    align-items: center;

  }
}

.themeSelector {
  position: fixed;
  z-index: 3;
  top: 10px;
  right: 50px;

  width: 150px;
  height: 50px;
  padding: 10px;

  &:focus-visible {
    outline: none;
  }
}