.logout {
  position: fixed;
  top: 10px;
  left: 10px;
}

.createTodoWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 70px;

  @media (width < 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}

.todolists {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

  margin-top: 50px;

  @media (width < 768px) {
    flex-direction: column;
    align-items: center;

  }
}

.themeSelector {
  position: fixed;
  z-index: 3;
  top: 10px;
  right: 50px;

  width: 150px;
  height: 50px;
  padding: 10px;

  &:focus-visible {
    outline: none;
  }
}